
@font-face {
  font-family: 'overwatch';
  src: url(../fonts/koverwatch.ttf);
}
@font-face {
  font-family: 'overwatch-italic';
  src: url(../fonts/bignoodletoo.ttf);
}

/*
Overwatch Color Theme:
https://coolors.co/ffc70e-f99e1a-43484c-00c3ff-b2b0b0
*/
:root {
  --mikado-yellow:  #FFC70E;
  --bright-yellow:  #F99E1A;
  --outer-space:    #43484C;
  --deep-sky-blue:  #00C3FF;
  --silver-chalice: #B2B0B0;
}

/*
Global Styles
-----------------------------------*/

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
.site {
  font-family: 'overwatch', sans-serif;
  /* background-color: var(--outer-space); */
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  margin: 0;
}
h1, h2, h3,
h4, h5, h6 {
  font-family: 'overwatch-italic', helvetica;
  color: var(--bright-yellow);
  margin: 0;
}
p {
  color: #fff;
}
img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}
.container {
  width: 90%;
  max-width: 50em;
  margin: 0 auto;
  text-align: center;
  /* background-color: var(--silver-chalice); */
}


/*
Header Section
-----------------------------------*/

header {
  padding: 30px 0;
  /* background-color: var(--silver-chalice); */
}
.game-title {
  font-size: 2rem;
  margin-top: 20px;
}
.character-icon {
  display: block;
  width: 40%;
  max-width: 180px;
  height: auto;
  margin: 25px auto;
  border: 0;
}
.character-name {
  font-size: 1.7rem;
}

/*
Tabs Sections
-----------------------------------*/

main {
  padding: 10px;
}
h3 {
  font-size: 1.4rem;
}
.tab {
    overflow: hidden;
    background-color: var(--mikado-yellow);
  }
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    font-family: 'overwatch', sans-serif;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    border: none;
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #FFB20C;
  }
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--bright-yellow);
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin: 10px 0;
  }

/*
Soundboard Sections
-----------------------------------*/

.brd-btn {
  width: 85%;
  margin: 8px auto;
  background-color: rgba(178, 176, 176, .3);
  border: 1px solid #fff;
}
.brd-btn p {
  margin: 0;
  padding: 16px 3px;
}
.brd-btn:hover {
  background-color: #fff;
}
.brd-btn p:hover {
  color: #000;
}

/* Grid */
@supports (grid-area: auto) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 7px 0;
  }
}


/*
Footer
-----------------------------------*/

footer {
  background-color: var(--deep-sky-blue);
  padding: 20px;
  text-align: center;
}
footer ul {
  padding: 0;
}
footer li {
  list-style-type: none;
  display: inline;
  padding: 0 25px;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  /*
  Global Styles
  -----------------------------------*/
  .site {
    background: linear-gradient(rgba(67, 72, 76, .6), rgba(67, 72, 76, .4)), url(../images/zenyatta-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tab {
    display: none;
  }
}
